.navbar {
    background-color: grey;
    margin: 0;
    padding: 5px;
    
    
}
.logo {
    color: white;
    display: inline-block;
    font-family: Arial;
    font-size: 40px;
    text-shadow: 2px 2px black;
}
.score {
    color: white;
    font-size: 25px;
    display: inline-block;
    float: right;
    padding-right: 15px;
    padding-top: 10px;
    text-shadow: 1px 1px black;
}
