footer {
    background-color: #00B642;
    height: 75px;
    width: 100%;
    margin-top: -20px;
}
.copyRight {
    color: white;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 30px;
    text-shadow: 1px 1px black;
}